@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply scroll bg-background-primary font-sans text-text-primary;
  }
}

@layer utilities {
  .scroll ::-webkit-scrollbar {
    width: 0.4em;
    height: 0.4em;
  }

  .scroll ::-webkit-scrollbar-track {
    all: unset;
    padding: 8px;
  }

  .scroll ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-accent-primary/90;
  }

  .anon-aadhaar-button-wrapper button {
    all: unset;
    @apply flex w-full justify-center;
  }

  .anon-aadhaar-button-wrapper button::after {
    margin-left: 0.5ch;
    content: 'with Anon Aadhaar';
  }

  .anon-aadhaar-button-wrapper button img {
    @apply mr-3 h-auto w-5;
  }

  .loader {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: block;
    margin: 15px auto;
    position: relative;
    box-sizing: border-box;
    animation: animloader 1s linear infinite alternate;
    @apply text-text-primary;
  }

  @keyframes animloader {
    0% {
      box-shadow:
        -38px -12px,
        -14px 0,
        14px 0,
        38px 0;
    }
    33% {
      box-shadow:
        -38px 0px,
        -14px -12px,
        14px 0,
        38px 0;
    }
    66% {
      box-shadow:
        -38px 0px,
        -14px 0,
        14px -12px,
        38px 0;
    }
    100% {
      box-shadow:
        -38px 0,
        -14px 0,
        14px 0,
        38px -12px;
    }
  }
}
